In [1]:
!pip install openai

Requirement already satisfied: openai in /usr/local/lib/python3.10/dist-packages (0.28.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.66.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.7.22)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)

### Part 1 : Create a sqllite db.

In [2]:
import os
import json
import sqlite3
import pandas as pd
import numpy as np
import openai
from IPython.display import display, HTML

In [3]:
# Replace YOUR_API_KEY with your actual key
os.environ["OPENAI_API_KEY"] = ""
openai.api_key = os.getenv("OPENAI_API_KEY")

In [4]:
# The rest of the script remains unchanged.
# ...
# Create tables
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()

tables_creation_commands = [
    """CREATE TABLE Suppliers (
        supplier_id INTEGER PRIMARY KEY NOT NULL,
        supplier_name TEXT NOT NULL,
        supplier_email TEXT,
        supplier_phone TEXT,
        supplier_address TEXT,
        pincode INTEGER
    );""",
    """CREATE TABLE Products (
        product_id INTEGER PRIMARY KEY NOT NULL,
        product_name TEXT NOT NULL,
        supplier_id INTEGER,
        unit_price REAL,
        product_category TEXT,
        FOREIGN KEY (supplier_id) REFERENCES Suppliers(supplier_id)
    );""",
    """CREATE TABLE Customers (
        customer_id INTEGER PRIMARY KEY,
        customer_name TEXT NOT NULL,
        customer_phone TEXT,
        customer_email TEXT,
        customer_address TEXT,
        pincode INTEGER
    );""",
    """CREATE TABLE Orders (
        order_id INTEGER PRIMARY KEY,
        order_date DATE NOT NULL,
        customer_id INTEGER,
        product_id INTEGER,
        quantity INTEGER,
        total_price REAL,
        FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
        FOREIGN KEY (product_id) REFERENCES Products(product_id)
);"""
]

for command in tables_creation_commands:
  c.execute(command)

# Data insertion commands
sample_data_commands = [
    """INSERT INTO Suppliers (supplier_id, supplier_name, supplier_email, supplier_phone, supplier_address, pincode)
    VALUES
    (101, 'FreshFruits Ltd', 'contact@freshfruits.com', '+1234567890', '123 Fruit St, Tropicana', 07029),
    (201, 'VeggieDelight', 'info@veggiedelight.com', '+1234567891', '456 Veg Ave, GreenCity', 54313),
    (301, 'FarmToTable', 'support@farmtotable.com', '+1234567892', '789 Farm Rd, Countryside', 14623);""",

    """INSERT INTO Products (product_id, product_name, supplier_id, unit_price, product_category)
    VALUES
   (1, 'Apple', 101, 10, 'Fruit'),
   (2, 'Banana', 101, 15, 'Fruit'),
   (3, 'Carrot', 201, 20, 'Vegetable'),
   (4, 'Broccoli', 301, 45, 'Vegetable'),
   (5, 'Spinach', 301, 50, 'Vegetable');""",

    """INSERT INTO Customers (customer_id, customer_name, customer_phone, customer_email, customer_address, pincode)
    VALUES
   (10001, 'Alice Johnson', '+1425123456', 'alice@email.com', '101 Oak St, Springfield', 07029),
   (10002, 'Bob Smith', '+1425234567', 'bob@email.com', '102 Pine St, Springfield', 54313),
   (10003, 'Charlie Brown', '+1425345678', 'charlie@email.com', '103 Maple St, Springfield', 411007),
   (10004, 'Diana White', '+1425456789', 'diana@email.com', '104 Elm St, Springfield', 543113),
   (10005, 'Eva Green', '+1425567890', 'eva@email.com', '105 Cedar St, Springfield', 54325);""",

    """INSERT INTO Orders (order_id, order_date, customer_id, product_id, quantity, total_price)
    VALUES
    (9000001, '2023-01-01', 10001, 1, 3, 30),
    (9000002, '2023-01-01', 10002, 2, 2, 30),
    (9000003, '2023-01-01', 10003, 3, 1, 20),
    (9000004, '2023-01-02', 10004, 4, 4, 180),
    (9000005, '2023-01-03', 10005, 5, 5, 250),
    (9000006, '2023-01-03', 10001, 1, 3, 30),
    (9000007, '2023-01-03', 10002, 2, 1, 15),
    (9000008, '2023-01-04', 10003, 3, 2, 40),
    (9000009, '2023-01-04', 10004, 4, 1, 45),
    (9000010, '2023-01-04', 10005, 5, 3, 150),
    (9000011, '2023-01-11', 10001, 1, 2, 20),
    (9000012, '2023-01-11', 10002, 2, 4, 60),
    (9000013, '2023-01-11', 10003, 3, 6, 120),
    (9000014, '2023-01-11', 10004, 4, 3, 135),
    (9000015, '2023-01-11', 10005, 5, 7, 350),
    (9000016, '2023-01-11', 10001, 1, 5, 50),
    (9000017, '2023-01-14', 10002, 2, 2, 30),
    (9000018, '2023-01-14', 10003, 3, 4, 80),
    (9000019, '2023-01-14', 10004, 4, 1, 45),
    (9000020, '2023-01-24', 10005, 5, 2, 100);"""
]

for command in sample_data_commands:
    c.executescript(command)


# Commit the changes and close the connection
conn.commit()

# Function to display a table
def display_table(query):
    c.execute(query)
    data = c.fetchall()
    html = "<table>"
    html += "<tr><th>" + "</th><th>".join([description[0] for description in c.description]) + "</th></tr>"
    for row in data:
        html += "<tr><td>" + "</td><td>".join(str(item) for item in row) + "</td></tr>"
    html += "</table>"
    display(HTML(html))

# For example, to display the contents of the Products table:
display_table('SELECT * FROM Products')

conn.close()

In [5]:
# # Connect to the database
# conn = sqlite3.connect('retail_store.db')
# c = conn.cursor()

# # Execute the query
# c.execute('SELECT * FROM Products')

# # Fetch all the results
# results = c.fetchall()

# # Print the results
# for row in results:
#     print(row)

# # Close the connection
# conn.close()

In [6]:
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table('SELECT * from PRODUCTS')

# Close the connection
conn.close()

In [7]:
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table('SELECT * from ORDERS')

# Close the connection
conn.close()

In [8]:
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table('SELECT * from SUPPLIERS')

# Close the connection
conn.close()

In [9]:
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table('SELECT * from CUSTOMERS')

# Close the connection
conn.close()

In [10]:
# JSON data
data_dict =    {
    "Products": {
        "product_id": {
            "type": "INTEGER",
            "description": "Unique identifier for each product.",
            "constraints": ["PRIMARY KEY"]
        },
        "product_name": {
            "type": "TEXT",
            "description": "Name of the product.",
            "constraints": ["NOT NULL"]
        },
        "supplier_id": {
            "type": "INTEGER",
            "description": "Identifier linking to the supplier of the product.",
            "constraints": ["FOREIGN KEY", "NOT NULL"]
        },
        "unit_price": {
            "type": "INTEGER",
            "description": "Price per single unit of the product.",
            "constraints": ["NOT NULL", "CHECK (unit_price > 0)"]
        },
        "product_category": {
            "type": "TEXT",
            "description": "Category of the product (e.g., Fruit, Vegetable).",
            "constraints": ["NOT NULL"]
        }
    },
    "Suppliers": {
        "supplier_id": {
            "type": "INTEGER",
            "description": "Unique identifier for each supplier.",
            "constraints": ["PRIMARY KEY"]
        },
        "supplier_name": {
            "type": "TEXT",
            "description": "Name of the supplier.",
            "constraints": ["NOT NULL"]
        },
        "supplier_email": {
            "type": "TEXT",
            "description": "Email address of the supplier.",
            "constraints": ["NOT NULL"]
        },
        "supplier_phone": {
            "type": "TEXT",
            "description": "Phone number of the supplier.",
            "constraints": ["NOT NULL"]
        },
        "supplier_address": {
            "type": "TEXT",
            "description": "Physical address of the supplier.",
            "constraints": ["NOT NULL"]
        },
        "pincode": {
            "type": "INTEGER",
            "description": "Postal code of the supplier's address.",
            "constraints": ["NOT NULL"]
        }
    },
    "Orders": {
        "order_id": {
            "type": "INTEGER",
            "description": "Unique identifier for each order.",
            "constraints": ["PRIMARY KEY"]
        },
        "order_date": {
            "type": "TEXT",
            "description": "Date when the order was placed.",
            "constraints": ["NOT NULL"]
        },
        "customer_id": {
            "type": "INTEGER",
            "description": "Identifier linking to the customer who placed the order.",
            "constraints": ["FOREIGN KEY", "NOT NULL"]
        },
        "product_id": {
            "type": "INTEGER",
            "description": "Identifier linking to the ordered product.",
            "constraints": ["FOREIGN KEY", "NOT NULL"]
        },
        "quantity": {
            "type": "INTEGER",
            "description": "Number of units of the product ordered.",
            "constraints": ["NOT NULL", "CHECK (quantity > 0)"]
        },
        "total_price": {
            "type": "INTEGER",
            "description": "Total price for the ordered quantity.",
            "constraints": ["NOT NULL", "CHECK (total_price > 0)"]
        }
    },
    "Customers": {
        "customer_id": {
            "type": "INTEGER",
            "description": "Unique identifier for each customer.",
            "constraints": ["PRIMARY KEY"]
        },
        "customer_name": {
            "type": "TEXT",
            "description": "Name of the customer.",
            "constraints": ["NOT NULL"]
        },
        "customer_phone": {
            "type": "TEXT",
            "description": "Phone number of the customer.",
            "constraints": ["NOT NULL"]
        },
        "customer_email": {
            "type": "TEXT",
            "description": "Email address of the customer.",
            "constraints": ["NOT NULL"]
        },
        "customer_address": {
            "type": "TEXT",
            "description": "Physical address of the customer.",
            "constraints": ["NOT NULL"]
        },
        "pincode": {
            "type": "INTEGER",
            "description": "Postal code of the customer's address.",
            "constraints": ["NOT NULL"]
        }
    }
}



# Save JSON data to a file
with open('./data_dictionary.json', 'w') as f:
    json.dump(data_dict, f, indent=4)

# Load JSON data from a file
with open('./data_dictionary.json', 'r') as f:
    loaded_data_dict = json.load(f)

In [11]:
loaded_data_dict.keys()

dict_keys(['Products', 'Suppliers', 'Orders', 'Customers'])

In [12]:
def generate_sql(query, data_dictionary):
    """
    Generates SQL from a natural language query using GPT and a data dictionary.

    Args:
    - query (str): The natural language query.
    - data_dictionary (dict): The data dictionary for the database schema.

    Returns:
    str: The generated SQL query.
    """
    # Convert data dictionary to string format
    data_dict_str = json.dumps(data_dictionary)

    # Prepare the prompt for GPT
    # prompt = f"Data Dictionary: {data_dict_str}\nNatural Language Query: {query}\nConvert to SQL:"
    prompt = f"""You are an expert in SQL database and querying it in the most efficient way.
    Use the Data Dictionary: {data_dict_str}\n and convert the following Natural Language Query: {query}\n to an SQL statement.
    Do not complicate the query and use minimum number of tables to come up with the final query.:"""

    # Call the OpenAI API
    try:
        response = openai.Completion.create(
          engine="text-davinci-003",  # or the relevant GPT-4 engine when available
          prompt=prompt,
          max_tokens=100  # adjust as needed
        )
        # Extract and return the generated SQL
        sql = response.choices[0].text.strip()
        return sql

    except Exception as e:
        print(f"Error: {str(e)}")
        return None

In [13]:
input_query = 'Give me the name, phone number and address of all the suppliers who provide vegetable.'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

Give me the name, phone number and address of all the suppliers who provide vegetable.
SELECT supplier_name, supplier_phone, supplier_address FROM Suppliers AS S
JOIN Products AS P
ON S.supplier_id = P.supplier_id
WHERE P.product_category = "Vegetable";

In [14]:
input_query = 'Give me the name, phone number and address of all the suppliers who provide vegetables.'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

Give me the name, phone number and address of all the suppliers who provide vegetables.
SELECT supplier_name, supplier_phone, supplier_address
FROM Suppliers
INNER JOIN Products ON Suppliers.supplier_id = Products.supplier_id
WHERE Products.product_category = 'Vegetable';

In [15]:
input_query = 'What is the total money spent by all customers on each of the days?'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

What is the total money spent by all customers on each of the days?
SELECT order_date, SUM(total_price) as Total_Money_Spent
FROM Orders
GROUP BY order_date;

In [16]:
input_query = 'Which customer and supplier live in the same neighbourhood?'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

Which customer and supplier live in the same neighbourhood?
SELECT Customers.customer_name, Suppliers.supplier_name
FROM Customers JOIN Suppliers
ON Customers.pincode = Suppliers.pincode
WHERE Customers.customer_name IS NOT NULL and Suppliers.supplier_name IS NOT NULL;

In [ ]:
input_query = 'Which customer and supplier live in the same neighbourhood?'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

In [18]:
input_query = 'Which is the net spend on vegetable and fruit?'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

Which is the net spend on vegetable and fruit?
SELECT SUM(total_price) AS 'Net Spend'
FROM Products p JOIN Orders o
ON p.product_id = o.product_id
WHERE p.product_category IN ('Vegetable', 'Fruit');

In [17]:
input_query = 'Which is the net spend on vegetables and fruits?'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

Which is the net spend on vegetables and fruits?
SELECT SUM(total_price)
FROM Products p
JOIN Orders o ON p.product_id = o.product_id
WHERE p.product_category IN ('fruits','vegetables') ;

In [19]:
input_query = 'Which is the net spend on vegetable and fruit individually?'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

Which is the net spend on vegetable and fruit individually?
SELECT product_category, SUM(total_price) AS Net_Spend
FROM Orders JOIN Products
ON Products.product_id = orders.product_id
WHERE product_category IN ('Vegetable', 'Fruit')
GROUP BY product_category;

In [26]:
input_query = 'What is the name of the customer who bought the maximum number of fruit? If there are 1 person with the same quantity, give me all the names'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

What is the name of the customer who bought the maximum number of fruit? If there are two people with the same quantity, give me both the names
SELECT customer_name
FROM Customers c JOIN Orders o
JOIN Products p
ON c.customer_id = o.customer_id
AND o.product_id = p.product_id
WHERE p.product_category = 'Fruit'
GROUP BY customer_name
ORDER BY SUM(quantity) DESC
LIMIT 2;

In [25]:
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table('SELECT customer_id, count(customer_id) as cnt from orders where product_id in (1,2) group by customer_id  order by cnt desc')

# Close the connection
conn.close()

In [29]:
input_query = 'Who spent the most in the first week of January 2023? Remember that the date format is in YYYY-MM-DD'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

Who spent the most in the first week of January 2023? Remember that the date format is in YYYY-MM-DD
SELECT  customer_name, SUM(total_price) AS "Total spent in first week of January 2023"
FROM orders
INNER JOIN customers ON orders.customer_id = customers.customer_id
WHERE order_date BETWEEN '2023-01-01' AND '2023-01-07'
GROUP BY customer_name
ORDER BY "Total spent in first week of January 2023"

In [31]:
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table('SELECT customer_id, sum(total_price) as cnt from orders where order_date BETWEEN "2023-01-01" AND "2023-01-07"  group by customer_id  order by cnt desc')

# Close the connection
conn.close()

In [33]:
input_query = 'Which products are generating the highest revenues?'
output_query = generate_sql(input_query, loaded_data_dict)

print(input_query)
print(output_query)
# Connect to the database
conn = sqlite3.connect('retail_store.db')
c = conn.cursor()
display_table(output_query)
# Close the connection
conn.close()

Which products are generating the highest revenues?
SELECT product_name, SUM(total_price) AS Revenue
FROM Products
JOIN Orders ON Products.product_id = Orders.product_id
GROUP BY product_name
ORDER BY Revenue DESC;